*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background: #FAFAFA;
    font-size: 18px;
}

a {
    color: currentColor;
    padding: 20px;
    text-decoration: none;
}

ul,ol {
    list-style-type: none;
}

h2, h3 {
    font-weight: 600;
}

img {
    display: block;
    width: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
    border-radius: 100px;
}

.title-span {
    color: #FD9222;
}

.title {
    width: 412px;
    margin: 0 auto 50px auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section {
    outline: auto;
    margin: 0;

}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
   
}

/* Header section */
.header {
    align-items: center;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-left: 32px;
    padding: 0;
}

.logo-div {
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items: center;
    gap: 4px;


}

.logo-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding: 0;
   
}

.logo-accent {
    color: #111;
    font-style: italic;
}

.header-nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    justify-items:auto;
    align-items: center;
}

.nav-link:hover,
.nav-link:focus {
    color: #FD9222;
}

.nav-link {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
}

.header-socials-list {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    gap: 14px;
    padding: 0;
    margin: 0;
}

.socials-item {
    padding: 0;
    margin: 0;
    
}
.socials-link {
    display: block;
    padding: 0;
    margin: 0;
}

.footer-socials {
    color: white;
}


/* Hero section */

.hero {
    width: 1136px;
    margin: auto;
    padding-bottom: 80px;
}

.hero-container {
    padding: 40px;
    padding-top: 381px;
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.70);
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    width: 484px;
    margin: 0;
    margin-bottom: 32px;
}

.hero-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.hero-button-list {
    display: flex;
    gap: 14px;
    margin: 0;
    padding: 0;
}

.hero-buy-now-btn {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    background-color: #FD9222;
    width: 144px; 
    height: 45px;
    border-color: transparent;
    margin: 0;
    padding: 0;
}

.hero-how-made-btn {
    display: inline-block;
    width: 144px;
    height: 45px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.scroll-container {
    display: flex;
    width: 130px;
    gap: 14px;
    flex-shrink: 0;
}

.hero-button-scroll {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    border: 2px solid transparent;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    margin: 0;
    padding: 0;
}

.hero-button-scroll:hover,
.hero-button-scroll:focus {
    color: #fd9222;
}

.circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 14px;
}

.hero-scroll-icon:hover,
.hero-scroll-icon:focus {
    color: #fd9222;
}



/* Benefits section */

.benefits-section {
    padding: 50px 0;
    background-color: #1E1823;
    margin: 0;
}

.benefits-title {
    text-align: center;
    margin: 0;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 88px;
    margin: 0;
    padding: 0;
}

.benefits-list-item {
    width: 308px;
}

.benefits-subtitle {
    color: var(--white, #FFF);
    line-height: 1.22;
    align-self: stretch;
    margin-bottom: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
}

.benefits-text {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin: 0;
    padding: 0;
}

/* Gallery section */
.gallery-section {
    padding-top: 120px;
    padding-bottom: 60px;
    
}

.gallery-container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0;
}

.gallery-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
 
.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.gallery-item {    
    width: calc((100% - 96px) / 4);
    border-radius: 15px;
    border-color: 1px solid #fd9222;
    padding: 28px 23px 0 23px; 
}

.gallery-item:nth-child(4n + 1) {
    background-color: #fd9222;
    color: #FFF;
}

.gallery-item:nth-child(4n + 3) {
    background-color: #1E1823;
    color: #FFF;
    
}

.gallery-item:nth-child(even) {
    border-color: #fd9222;
    border: 1px solid #FD9222;
   
}

.gallery-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: -0.28px;
    margin-top: 36px;
    margin-bottom: 28px;
    padding: 0;   
}

/* Recipe section */
.recipe-section {
    padding-top: 60px;
    padding-bottom: 60px;

}

.recipe-container {
    display: flex;
    width: 1136px;
    height: 400px;
    gap: 20px;
    margin: 0 32px;
    justify-content: center;
}

.recipe-title {
    display: ;
    text-align: center;
    font-size: 24px; 
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.recipe-right-side {
    border-radius: 15px;
    background: #FFF;
    width: 516px;   
    padding: 32px;
    margin-left: 20px;
}

.right-side-container {
    display: inline-block;
    align-content: flex-start;
    margin: 0;
    padding: 0;
  
}

.recipe-subtitle {
    
    line-height: 1.33;
    margin-top: 0;
}

.recipe-list {
    list-style-type:disc;
    padding-left: 0;
    
}

.recipe-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin-top: 24px;
    flex-shrink: 0;
}

.recipe-pic {
    max-width: 600px;
}

/*  Products section */

.products-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
}

.products-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.67em;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
    margin: 0;
    padding: 0;
}


.products-item {
    align-content: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    width: calc((100% - 54px) / 4);
    margin: 0;
    padding: 0;
}

.products-pic {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
    padding: 0;
    
}

.products-subtitle {
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.products-btn {
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    width: 94px;
    height: 33px;
    margin-bottom: 40px;
}

/*  Top-sellers section */
.top-sellers {
    padding: 60px 0 60px 0;
    justify-content: center;
    width: 1136px;
    height: 742px;
    margin: 0 32px;
 
}

.top-sellers-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    padding: 0;
    margin: 50px;
   
}

.top-sellers-list {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.top-sellers-item {
    width: calc((100% - 32px) / 3);
    text-align: center;
    border-radius: 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    margin: 0;
    padding: 0;
}

.top-sellers-pic {
    border-radius: 15px 15px 0 0;
    display: block;
    max-width: 100%;
    object-fit: contain;
    padding: 0;
    margin: 0;
}

.top-sellers-text {
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


/*  Reviews section */
.reviews-section {
    padding: 60px 0 120px 0;
    justify-content: center;
    width: 1136px;
    height: 742px;
    margin: 0 32px;
    gap: 50px;

    flex-direction: column;
    align-items: center;
}


.reviews-title {
    text-align: center;
    font-size: 24px; 
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.reviews-list {
    display: flex;
    text-align: center;
    gap: 28px;
    margin: 0;
    padding: 0;
   
}

.reviews-item {
    width: 360px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.10);
    margin: 0;
    padding: 56px 24px 24px 24px;
}

.reviews-pic {
    
   width: 50%;
}

.reviews-subtitle {
    text-align: center;
    line-height: 1.33;
}

.reviews-text {
    text-align: center;
    color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin: 0;
}

.reviews-btn {
    display: flex;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    color: var(--black, #111);
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: #FFF;
    
}


/*  Footer section */
.footer {
    background-color: #1E1823;
 
   
}

.footer-container {
    display: flex;
    padding: 50px 32px;
    align-items: flex-start;
    gap: 74px;
    border-bottom: 1px solid #FFFFFF1A;

    
}

.footer-title {
    color: #fff;
    width: 300px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.footer-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}



.footer-item {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
  
}

.footer-link {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.address {
    font-style: normal;
}

.address-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}



.address-link {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29em;
    letter-spacing: -0.02em;
}

.footer-nav-container {
    display: inline-block;
    margin-right: 24px;
  
}

.footer-nav-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}