*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background: #FAFAFA;
    font-size: 18px;
    font-weight: 600;
}

a {
    color: currentColor;
    padding: 20px;
    text-decoration: none;
}

ul,ol {
    list-style-type: none;
}

h2, h3 {
    font-weight: 600;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit;
    cursor: pointer;
}

.title-span {
    color: #FD9222;
}

/* top section */
.header {
    display: flex;
    padding: 24px 32px 24px 32px;
    align-items: center;
    flex-shrink: 0;
}

.container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo-link {
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.logo-accent {
    color: #111;
    font-style: italic;
}

.header-socials {
    color: black;
}

.footer-socials {
    color: white;
}

.nav-list {

}

.nav-link:hover,
.nav-link:focus {
    color: #FD9222;
}

.nav-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.nav-list-item {
    display: inline-block;
    margin-right: 24px;
}

.header-socials {
    display: flex;
    align-items: flex-end;
    gap: 14px;
    margin-left: 90px;
}

.socials-item {
    display: inline-block;
    gap: 8px;
}




/* Hero section */

.hero {
    display:flex;
    width: 1136px;
    margin: 80px 32px 80px 32px;
    padding: 381px 40px 40px 40px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.70);
}

.hero-container {
    width: 1056px;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    width: 484px;
}

.hero-buy-now-btn {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    background-color: #FD9222;
    border-radius: 100px;
    width: 144px; 
    height: 45px;
    border-color: transparent;
    margin-right: 14px;
    
}

.hero-how-made-btn {
    display: inline-block;
    width: 144px;
    height: 45px;
    border-radius: 100px;
    border: 1px solid #FFF;
    background-color: transparent;
    color: #fff;
    color: #FFF;
    font-size: 14px;
}

.scroll-container {
    display: flex;
    width: 130px;
    gap: 14px;
    flex-shrink: 0;
    align-content: center;
}

.hero-button-scroll {
    display: inline-block;
    background-color: transparent;
    border: 2px solid transparent;

}

.hero-text {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.03em;
}



/* Benefits section */

.benefits {
    background-color: #1E1823;
    display: inline-block;
    width: 1200px;
    padding: 50px 0px;

}

.benefits-title {
    text-align: center;
}



.benefits-list-item {
    width: calc((100% - 176px) / 2);
    gap: 88px;
}
   


.benefits-subtitle {
    color: var(--white, #FFF);
    line-height: 1.22;
    align-self: stretch;
}

.benefits-text {
    color: rgba(255, 255, 255, 0.70);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/* Gallery section */

.gallery-container {
    width: 1136px;
    display: inline-flex;
    padding: 120px 0px 60px 0px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}


.gallery-title {
    text-align: center;
    width: 412px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.gallery-list-container {
    
}

.gallery-item {
    display: inline-flex;
    flex-wrap: wrap;
    width: calc((100% - 96px)/4);
    margin-bottom: 32px;
    gap: 32px;
}

.gallery-pic {
    
}

/* Recipe section */

.recipe-container {
    display: flex;
    width: 1136px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.recipe-title {
    text-align: center;
    font-size: 24px; 
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.recipe-right-side {
    border-radius: 15px;
    background: #FFF;
    width: 516px;
    padding: 32px;
    margin-left: 20px;
    
}

.right-side-container {
    display: flex;
    width: 452px;
    height: 336px;
    align-content: flex-start;
    gap: 28px;
    flex-shrink: 0;
}

.recipe-subtitle {
    width: 350px;
    line-height: 1.33;
}

.recipe-list {
    width: 436px;
}

.recipe-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
}

/*  Products section */

.products-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.products-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.67em;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}


.products-list {
    display: flex;
    flex-wrap: wrap;
   
}


.products-item {
    width: 270px;
    height: 364px;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    margin-bottom: 24px;
    margin-right: 18px;
   
}

.products-pic {
    margin-top: 32px;
    margin-left: 20px;
}

.products-subtitle {
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.products-text {
    color: rgba(17, 17, 17, 0.70);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: -0.02em;
}

.products-btn {
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    width: 94px;
    height: 33px;
    margin-bottom: 40px;
}

/*  Top-sellers section */
.top-sellers {}

.top-sellers-title {
    text-align: center;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.title-span {}

.top-sellers-list {
    display: flex;
}

.top-sellers-item {
    width: 368px;
    flex-shrink: 0;
    align-content: center;
    text-align: center;
    border-radius: 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.10);
    border-bottom: 1px solid rgba(17, 17, 17, 0.10);
    border-left: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    margin-top: 50px;
    margin-right: 16px;
}

.top-sellers-pic {
    border-radius: 15px;
}

.top-sellers-text {
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}


/*  Reviews section */

.reviews {
    display: flex;
    width: 1136px;
    padding: 60px 0px 120px 0px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.reviews-title {
    text-align: center;
    font-size: 24px; 
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.reviews-list {
    display: flex;
    text-align: center;
   
}

.reviews-item {
    width: 360px;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    box-shadow: 0px 10px 100px 0px rgba(17, 17, 17, 0.10);
    margin-left: 28px;
}

.reviews-pic {
    margin-left: 140px;
   
}

.reviews-subtitle {
    text-align: center;
    line-height: 1.33;
}

.reviews-text {
    text-align: center;
    color: rgba(17, 17, 17, 0.70);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.02em;
    margin: 24px;
}

.reviews-btn {
    display: flex;
    width: 222px;
    height: 50px;
    padding: 14px 40px;
    color: var(--black, #111);
    font-family: Montserrat;
    font-size: 18px;
    border-radius: 100px;
    border: 1px solid #FD9222;
    background-color: #FFF;
    
}


/*  Footer section */
.footer {
    background-color: #1E1823;
   
}

.footer-container {
    display: flex;
    padding: 50px 32px;
    align-items: flex-start;
    gap: 74px;
}

.footer-title {
    color: #fff;
    width: 300px;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
}

.footer-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}



.footer-item {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
}

.footer-link {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

.address {
    font-style: normal;
}

.address-text {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.29;
}



.address-link {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29em;
    letter-spacing: -0.02em;
}

.footer-nav-link {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
}