body {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    background: #FAFAFA;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

a {
    color: currentColor;
    padding: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font-family: inherit    ;
}

.title-span {
    color: #FD9222;
}

/* top section */
.header {
    display: flex;

    padding: 24px 32px 24px 32px;
    align-items: center;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 90px;
}

.logo-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}


.logo-accent {
    color: #111;
    font-style: italic;
}

.header-socials {
    color: black;
}

.footer-socials {
    color: white;
}


.nav-link-img {}

.nav-list {}

.nav-list-item {}

.nav-link {}

.socials {}

.socials-item {}

.socials-link {}

.socials-icon {}


/* Hero section */

.hero {
    display: flex;
    width: 1136px;
    height: 600px;
    margin: 80px 32px 80px 32px;
    padding: 381px 40px 40px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(17, 17, 17, 0.70);
}

.hero-title {
    text-align: center;
}

.hero-list {}

.hero-list-item {}

.hero-text {}

.hero-button-scroll {}

.hero-scroll-icon {}

/* Benefits section */

.benefits {}

.benefits-title {
    text-align: center;
}

.benefits-list {}

.benefits-list-item {}

.benefits-subtitle {}

.benefits-list-text {}

.benefits-item {}

.benefits-text {}

/* Gallery section */
.gallery {}

.gallery-title {
    text-align: center;
}

.gallery-span {}

.gallery-list {}

.gallery-item {}

.gallery-pic {}

/* Recipe section */
.recipe {}

.recipe-title {
    text-align: center;
}

.recipe-pic {}

.recipe-subtitle {}

.recipe-list {}

.recipe-item {}

/*  Products section */
.products {
    display: inline-flex;
    padding: 60px 0px;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.products-title {
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.67em;
    letter-spacing: -0.72px;
    text-transform: uppercase;
}



.products-container {
    
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 18px;
}

.products-list .products-item {
    width: 1136px;
    width: calc((100% - 18px) / 3);
}

.products-pic {}

.products-subtitle {}

.products-text {}

/*  Top-sellers section */
.top-sellers {}

.top-sellers-title {
    text-align: center;
}

.top-sellers-list {}

.top-sellers-item {}

.top-sellers-pic {}

.top-sellers-text {}

/*  Top-sellers section */
.top-sellers {}

.top-sellers-title {}

.title-span {}

.top-sellers-list {}

.top-sellers-item {}

.top-sellers-pic {}

.top-sellers-text {}


/*  Reviews section */
.reviews-title {}

.title-span {}

.reviews-list {}

.reviews-item {}

.reviews-subtitle {}

.reviews-text {}

/*  Footer section */
.footer {}

.footer-title {}

.title-span {}

.footer-text {}

.footer-socials {}

.socials {}

.footer-item {}

.footer-link {}

.address {}

.address-text {}

.address-list {}

.address-item {}

.address-link {}

.footer-nav {}

.footer-nav-list {}

.footer-nav-item {}

.footer-nav-link {}